*{
    border: 1px solid red;
}
:root{
    --sectionWidth-width : 80%;
    --primary-color: #A82C48;
    --secondry-color: #43121d;
    --white-color: white;
}

/* ########################################### */
#conNo{
            background-color: #A82C48; 
            color: white !important;
            border: 2px solid #A82C48; 
            transition: all ease-in-out .4s;
        }
        #conNo:hover{
            background-color: white !important; 
            color: #A82C48; }
        .nav-link{
            color: #A82C48;
            font-weight: bold;
            padding: 7px 20px !important;
        }
        .nav-link:nth-child(''){
            color: white;
        }
        body{
            height: 700px;
        }

        nav{
            width: 100%;
            position: fixed !important;
        }
/* #################   Section:1 ########################## */
#section1{
    background-image: url(Image/bg-1.jpg);
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 270px;
}
#section1 > div{
    margin: 0px auto;
    /* margin-top: 271px; */

    width: var(--sectionWidth-width);
}
#section1 > div > div{
    width: 42%;
}
#section1 > div > div > h2{
    font-weight: 900;
    /* font-size: 3rem; */
    padding-bottom: 10px;
    color: var(--secondry-color);
}
#section1 > div > div > p{
    padding-top: 10px;
}
#orderNow{
    background-color: var(--secondry-color);
    color: var(--white-color);
    padding: 8px 25px;
    margin-right: 10px;
}
#orderTommorow{
    margin-left: 10px;
    padding: 8px 25px;
}
#orderTommorow > i{
    margin-left: 10px;
}

/* ##################      Section:2     ################## */
#section2{
    width: 100%;
}
#section2 > div{
    margin: 0px auto;
    /* margin-top: 271px; */
    width: var(--sectionWidth-width);
    padding: 20px 0px;
    overflow: hidden;
}
/* #section2 > div > div > div >span{
} */
#section2 > div > div > div > span{
    padding: 10px;
    color: var(--white-color);
    display: inline-block;
}
#section2 > div > div > div:nth-child(0){
    
}
